/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Nov-2015, 8:27:48 PM
    Author     : z
*/
            
table{
    border-collapse: collapse;
    text-align: right;
}
tr.node > td {
    padding-top: .5em;
    padding-bottom: .5em;
    
}

tr:nth-child(even){background: lightgrey}
tr:nth-child(odd){background: #ffffff}

tr.node:nth-child(even){background: lightgoldenrodyellow}
tr.node:nth-child(odd){background: lemonchiffon}

.removeNodeButton, .removeSensorButton {
    background: url(../images/x.png) no-repeat;
    background-size: 1em 1em;
    background-position: bottom center ;
    color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    height: 1.2em;
    width:  1.2em;
}
