/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Nov-2015, 8:27:48 PM
    Author     : z
*/
            
table{
    border: 1px solid black;
    text-align: right;
}

tr:nth-child(even){background: #CCC}
tr:nth-child(odd){background: #FFF}

.removeNodeButton, .removeSensorButton {
    background: url(../images/x.png) no-repeat;
    background-size: 1em 1em;
    background-position: bottom center ;
    color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    height: 1.2em;
    width:  1.2em;
}
